* {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}

body {
  background: url("../images/bg-pattern-desktop.svg");
}

.main-image-desktop {
  display: none;
}

.logo {
  width: 45%;
  padding: 30px;
}

.main-container {
  width: 100%;
}

.main-image-mobile {
  width: 100%;
}

.info-container {
  text-align: center;
  padding: 90px 35px 0 35px;
}

.info-container span {
  font-weight: 300;
  color: hsl(0, 36%, 70%);
  line-height: 1.25;
}

h1 {
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: 18px;
}

.info-container p {
  margin-top: 1.5rem;
  line-height: 1.75;
  color: hsl(0, 36%, 70%);
  margin-bottom: 40px;
}

.input-container {
  text-align: center;
  max-width: 100%;
  position: relative;
  margin-bottom: 90px;
}

input {
  padding: 20px 60px 17px 25px;
  border-radius: 30px;
  min-width: 100%;
  display: block;
  border: hsla(0, 36%, 70%, 0.50) solid 0.5px;
  border-right: rgba(255, 255, 255, 0);
}

input::placeholder {
  color: hsla(0, 36%, 70%, 0.4);
  font-weight: 400;
  font-size: 17px;
}

button {
  position: absolute;
  width: 21%;
  height: 100%;
  display: inline;
  right: 0;
  top: 0;
  border: hsl(0, 80%, 86%) solid 0.5px;
  border-radius: 30px;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: -5px 12px 15px hsla(0, 44%, 62%, 0.277);
}

button:after {
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}


.attribution { 
  font-size: 11px;
  padding-bottom: 10px; 
  text-align: center;
}

.attribution a {
   color: hsl(0, 36%, 70%); 
   font-size: 16px;
}

@media (min-width: 768px) {

  body {
    background: url("../images/bg-pattern-desktop.svg");
  }

  .main-image-mobile {
    display: none;
  }

  .main-image-desktop {
    display: block;
    /* height: 100vh; */
  }

  .main-container {
    display: flex;
  }

  .desktop-container {
    padding: 35px 180px 0 135px;
    
  }
  
  .logo {
    width: 42%;
  }

  .info-container {
    text-align: left;
  }

  h1 {
    font-size: 4.25vw;
  }

  .info-container {
    width: 100%;
  }

  .attribution {
    text-align: left;
    padding-left: 35px;
  }

}